[submodule "themes/base16"]
	path = themes/base16
	url = https://github.com/protogia/hugo-base16-theme.git
[submodule "linkvalidator"]
	path = linkvalidator
	url = https://github.com/protogia/linkvalidator.git
