/* Base16 Eighties Colorscheme by Chris Kempson (http://chriskempson.com) */

:root {
  --base01: #15151d;
  --base02: #515151;
  --base03: #747369;
  --base04: #a09f93;
  --base05: #d3d0c8;
  --base06: #e8e6df;
  --base07: #f2f0ec;
  --base08: #f2777a;
  --base09: #f99157;
  --base0a: #ffcc66;
  --base0b: #99cc99;
  --base0c: #66cccc;
  --base0d: #6699cc;
  --base0e: #cc99cc;
  --base0f: #d27b53;
}

.base00 { color: var(--base00); }
.base01 { color: var(--base01); }
.base02 { color: var(--base02); }
.base03 { color: var(--base03); }
.base04 { color: var(--base04); }
.base05 { color: var(--base05); }
.base06 { color: var(--base06); }
.base07 { color: var(--base07); }
.base08 { color: var(--base08); }
.base09 { color: var(--base09); }
.base0a { color: var(--base0a); }
.base0b { color: var(--base0b); }
.base0c { color: var(--base0c); }
.base0d { color: var(--base0d); }
.base0e { color: var(--base0e); }
.base0f { color: var(--base0f); }

/* General Page Layout */

html {
  background-color: var(--base01);
  color: var(--base07);
  line-height: 1.5;
  font-family: 'Source Code Pro', monospace;
  font-size: medium;
  width: 80%;
  height: 100%;
  min-height: 90%;
}

body {
  position: absolute; 
  display: column;
  flex-direction: column;
  left: 22%;
  width: 58%;
}

header {
  position: absolute;
  top: 0;
  background-color: var(--base01);
  height: 10%;
  width: 100%;
}

header .protogia {
  display: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: var(--base01);
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

header .h1 {
  margin: 0;
  padding: 0;
  background-color: var(--base01);
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

header .navbar {
  background-color: var(--base01);
  display: row;
  flex-direction: row;
  width: 100%;
}

ol {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
}


ol li {
  /* display: block; */
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
  max-width: 80%;
  /* min-height: 5rem; */
  height: 5rem;
}

ul li {
  margin-right: 1rem;
}

.nav-item a {
  position: relative;
  float: left;
  display: block;
  padding: 0.5rem;
  width: 10rem;
}

a {
  color: var(--base0a);
  text-decoration: none;
}

.navbar-item-yellow {
  color: var(--base09);
}

.navbar-item-orange {
  color: var(--base0a);
}

.navbar-item-green {
  color: var(--base0b);
}

.navbar-item-lightblue {
  color: var(--base0c);
}


/* Typography */

h1 {
  font-weight: bold;
}

h2, h3, h4, h5, h6{
  font-weight: normal;
  margin-bottom: 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

pre, code {
  overflow-y: auto;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
}


/* 404 Page Layout */

.page-not-found h1 {
  margin-top: 25rem;
  text-align: center;
  font-size: 2em;
}


/* Homepage Layout */

main {
  /* margin-left: 2rem; */
  padding-bottom: 2rem;
}

.full-width-image {
  width: 100%;
  height: auto;
}

/* Split the screen in half */

.homepage .split {
  width: 80%;
}

.homepage .left {
  position: absolute;
  top: 50%;
}

.homepage .right {
  position: absolute;
  top: 50%;
  right: 0;
}

.homepage .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* Post List Layout */

.article-list {
  position: relative;
  top: 10rem;
}

.article-list h2.headline,
.article-list h2.headline a {
  font-size: medium;
  color: var(--base0b);
  margin-top: 2rem;
  padding-bottom: 0.5rem;
}

.article-list .meta .key {
  color: var(--base04);
}

.article-list .meta .val,
.article-list .meta .val a {
  font-size: medium;
  color: var(--base05);
}

.article-list .summary a { color: var(--base0f); }


.single {
  position: relative;
  top: 12rem;
}

.single .headline {
  padding-bottom: 1rem;
  font-size: medium;
  color: var(--base0b);
}

.single h1, h2, h3, h4, h5, h6 {
  padding-bottom: 1rem;
  font-size: medium;
  color: var(--base0d);
}

.single .key {
  color: var(--base04);
}

.single .val {
  font-size: medium;
  color: var(--base06);
}

.single ul {
  list-style-type: circle;
  margin: 1rem;
  padding: 1rem; 
}


main time{
  font-size: medium;
  color: var(--base05);
}

article.single .body {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

img {
  display: block; /* Ensures block-level layout */
  width: 100%;
  height: auto;
  margin-top: 3rem; 
  margin-bottom: 3rem; 
}

/* Pygments template by Jan T. Sott (https://github.com/idleberg) */

pre { background: var(--base00); color: var(--base07) }

.highlight .hll { background-color: var(--base00) }
.highlight .c { color: var(--base02) } /* Comment */
.highlight .err { color: var(--base08) } /* Error */
.highlight .k { color: var(--base02) } /* Keyword */
.highlight .l { color: var(--base09) } /* Literal */
.highlight .n { color: var(--base07) } /* Name */
.highlight .o { color: var(--base0c) } /* Operator */
.highlight .p { color: var(--base07) } /* Punctuation */
.highlight .cm { color: var(--base03) } /* Comment.Multiline */
.highlight .cp { color: var(--base03) } /* Comment.Preproc */
.highlight .c1 { color: var(--base03) } /* Comment.Single */
.highlight .cs { color: var(--base03) } /* Comment.Special */
.highlight .gd { color: var(--base08) } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: var(--base07); font-weight: bold } /* Generic.Heading */
.highlight .gi { color: var(--base0b) } /* Generic.Inserted */
.highlight .gp { color: var(--base03); font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--base0c); font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: var(--base0e) } /* Keyword.Constant */
.highlight .kd { color: var(--base0e) } /* Keyword.Declaration */
.highlight .kn { color: var(--base0c) } /* Keyword.Namespace */
.highlight .kp { color: var(--base0e) } /* Keyword.Pseudo */
.highlight .kr { color: var(--base0e) } /* Keyword.Reserved */
.highlight .kt { color: var(--base0a) } /* Keyword.Type */
.highlight .ld { color: var(--base0b) } /* Literal.Date */
.highlight .m { color: var(--base09) } /* Literal.Number */
.highlight .s { color: var(--base0b) } /* Literal.String */
.highlight .na { color: var(--base0d) } /* Name.Attribute */
.highlight .nb { color: var(--base07) } /* Name.Builtin */
.highlight .nc { color: var(--base0a) } /* Name.Class */
.highlight .no { color: var(--base08) } /* Name.Constant */
.highlight .nd { color: var(--base0c) } /* Name.Decorator */
.highlight .ni { color: var(--base07) } /* Name.Entity */
.highlight .ne { color: var(--base08) } /* Name.Exception */
.highlight .nf { color: var(--base0d) } /* Name.Function */
.highlight .nl { color: var(--base07) } /* Name.Label */
.highlight .nn { color: var(--base0a) } /* Name.Namespace */
.highlight .nx { color: var(--base0d) } /* Name.Other */
.highlight .py { color: var(--base07) } /* Name.Property */
.highlight .nt { color: var(--base0c) } /* Name.Tag */
.highlight .nv { color: var(--base08) } /* Name.Variable */
.highlight .ow { color: var(--base0c) } /* Operator.Word */
.highlight .w { color: var(--base07) } /* Text.Whitespace */
.highlight .mf { color: var(--base09) } /* Literal.Number.Float */
.highlight .mh { color: var(--base09) } /* Literal.Number.Hex */
.highlight .mi { color: var(--base09) } /* Literal.Number.Integer */
.highlight .mo { color: var(--base09) } /* Literal.Number.Oct */
.highlight .sb { color: var(--base0b) } /* Literal.String.Backtick */
.highlight .sc { color: var(--base07) } /* Literal.String.Char */
.highlight .sd { color: var(--base03) } /* Literal.String.Doc */
.highlight .s2 { color: var(--base0b) } /* Literal.String.Double */
.highlight .se { color: var(--base09) } /* Literal.String.Escape */
.highlight .sh { color: var(--base0b) } /* Literal.String.Heredoc */
.highlight .si { color: var(--base09) } /* Literal.String.Interpol */
.highlight .sx { color: var(--base0b) } /* Literal.String.Other */
.highlight .sr { color: var(--base0b) } /* Literal.String.Regex */
.highlight .s1 { color: var(--base0b) } /* Literal.String.Single */
.highlight .ss { color: var(--base0b) } /* Literal.String.Symbol */
.highlight .bp { color: var(--base07) } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--base08) } /* Name.Variable.Class */
.highlight .vg { color: var(--base08) } /* Name.Variable.Global */
.highlight .vi { color: var(--base08) } /* Name.Variable.Instance */
.highlight .il { color: var(--base09) } /* Literal.Number.Integer.Long */



/* css for mobile-devices and vertical-view */
@media (max-width: 580px) {
    
  /* Typography */

  html {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  body {
    position: absolute; 
    display: column;
    flex-direction: column;
    left: 5%;
    width: 90%;
  }
  
  /* header {
    position: absolute;
    top: 0;
    background-color: var(--base00);
    height: 10%;
    width: 100%;
  } */
  

  /* header {
    font-size: medium;
    width: 100%;
  } */

  header .protogia h1 {
    font-size: x-large;
  }

  main {
    padding-top: 1rem;
    margin-left: 0;
  }

  h1 {
      font-size: medium;
      font-weight: bold;
      line-height: 1.0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
      font-size: medium;
      font-weight: normal;
      line-height: 1.2;
      margin-bottom: 0;
  }

  p {
    font-size: medium;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }


  .homepage .split {
      height: 50%;
  }


  .homepage .right {
      position: absolute;
  }

  .homepage .centered {
      position: absolute;
      top: 0%;
      left: 0%;
      text-align: center;
  }

  /* Articel list */

  .article-list h2 .headline,
  .article-list h2 .headline a {
    font-size: medium;
  }
  
  .article-list .headlin span,
  .article-list .meta,
  .article-list .meta .val,
  .article-list .meta .val a,
  .article-list .meta span time {
    font-size: medium;
  }
  
  /* single-page-layout */

  .article-list h2.headline a {
    font-size: medium;
  }

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  ul li {
    margin-bottom: 0.5rem;
  }
}
