{{ $baseurl := .Site.BaseURL }}

<!DOCTYPE html>

{{ partial "head.html" . }}

  <body>
    
    {{ partial "header.html" . }}


    <main role="main" class="single">
      <span class="meta">
      <h2 class="headline">
        <span style="color: {{ .Params.color }};">
        {{ .Title }}{{ if .Draft }} (draft){{ end }}
        </span>
      </h2>
        
      <span class="meta">
        {{ if not .Date.IsZero }}
        <span class="key">date:</span>
        <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
        {{ end }}
      </span>
      <br>
      <br>
      
      {{ .Content }}
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>